<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Libros Web</title>
    </head>
    <body>
        <h1>Libros Web</h1>
        <p>Selecciona la letra a mostrar</p>
        <div>
            {% for letra in 'ABCDEFGHIJKLMNÑOPQRSTUVWXYZ' %}
                <a href="/letra/{{ letra }}">{{ letra }}</a>
            {% if not loop.last %} | {% endif %}
            {% endfor %}
        </div>
        <div>
            <ul>
                {% for libro in lista_libros %}
                    <li><a href="/libro/{{ libro.id }}">{{ libro.title }} - {{ libro.author }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>